*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    background: #eeeeee;
}

/* ------- (SIDEBAR + MAIN) ------- */

.layout {
    display: flex;
    min-height: 100vh;
}


.sidebar {
    width: 250px;
    flex-shrink: 0;
    height: 100vh;
    background: #ffffff;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 20px 20px 0;
    position: sticky; 
    top: 0;
}

/* ÁREA PRINCIPAL */
.main-content {
    flex: 1;
    padding: 30px;
    padding-bottom: 10px; 
    
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 10px;
    background: #d9d9d9;
    margin-top: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px; /* diminui a distância entre logo e texto */
}

.logo img {
    width: 80px;
    height: 80px;
}

.logo p {
    font-size: 20px;
    font-weight: 800;
    margin: 0; /* remove qualquer espaço extra */
}


.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    margin-bottom: 18px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #4d5d68;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 10px;
    transition: 0.2s;
}

.sidebar nav ul li a:hover {
    background: #72dab5;
}

.profile img {
    width: 85px;
    height: 85px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.login {
    color: #7c8b96;
    font-size: 15px;
    text-decoration: none;
}


/* ------- DASHBOARD (CONTAINER) ------- */

.dashboard-container {
    background: #fff;
    padding: 30px;
    border-radius: 22px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 80vh;
}

.top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-area input {
    width: 300px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #e4e4e4;
}

/* Cards */
.anime-cards {
    display: flex;
    gap: 20px;
}

.anime-cards .card {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 18px;
    width: 350px;
    
    cursor: pointer;
}

.anime-cards .card img {
    width: 100%;
    height: 300px;
    border-radius: 14px;
}

/* Bottom grid */
.bottom-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}

.box {
    background: #fff;
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.promo.blue {
    background: #2d3e74;
    color: #fff;
}

.promo.green {
    background: #25484e;
    color: #fff;
}

.promo button {
    margin-top: 12px;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background: #00c983;
    color: #fff;
}
/* BOTÃO + */
.add-anime {
    width: 140px;
    height: 140px;
    background: #1f1f1f;
    color: white;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    cursor: pointer;
}
.add-anime:hover {
    background: #727272;
}

.modal-anime {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-box {
    position: relative; /* OBRIGATÓRIO pro X aparecer */
    background: #2b2b2b;
    border-radius: 20px;
    width: 800px;
    max-width: 95%;
    display: flex;
    overflow: hidden;
}
.close-modal {
    position: absolute;
    top: 15px;
    right: 20px;

    background: transparent;
    border: none;

    font-size: 22px;
    color: #727272;

    cursor: pointer;
    z-index: 1000;
}

.close-modal:hover {
    color: #ff4d4d;
}



/* FECHAR */
.close-modal {
    position: absolute;
    top: 15px;
    left: 15px;
    background: white;
    border-radius: 50%;
    border: none;
    width: 36px;
    height: 36px;
    font-size: 18px;
    cursor: pointer;
}

/* LADO ESQUERDO */
.modal-left {
    width: 40%;
    background: #6b6b6b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    display: none;
}


.upload-box {
    position: relative;
    width: 100%;
    height: 100%;
    background: #6b6b6b;
    border-radius: 12px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-box input {
    display: none;
}

.upload-box span {
    position: absolute;
    color: #e0e0e0;
    text-align: center;
    font-size: 18px;
}

#previewCapa {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}


/* LADO DIREITO */
.modal-right {
    width: 60%;
    padding: 25px;
    color: white;
}

.modal-right label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.modal-right input,
.modal-right textarea,
.modal-right select {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    background: #1c1c1c;
    color: white;
}

.modal-right textarea {
    height: 60px;
    resize: none;
}

/* BOTÃO SALVAR */
.save-btn {
    position: absolute;
    bottom: -20px;
    right: 20px;
    background: #6bdc3a;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
}
.save-btn:hover {
    background: #89f35c;
}

