<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login | AnimeList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<div class="container">

<h1>Login</h1>
<p>Acesse sua conta no AnimeList</p>

<!-- Mensagens Flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="{{ url_for('usuario.login_post') }}" method="POST">

    <label>Email</label>
    <input type="email" name="email" placeholder="seu@email.com" required>

    <label>Senha</label>
    <input type="password" name="senha" placeholder="••••••••" required>

    <button type="submit">Entrar</button>

</form>

<p class="footer-text">
    Não tem conta?
    <a href="{{ url_for('usuario.cadastro_get') }}">Cadastrar</a>
</p>

</div>

</body>
</html>