<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login | AnimeList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">


</head>
<body>

<!-- BOTÃO VOLTAR -->

<a href="{{ url_for('usuario.painel') }}" class="btn-voltar">
    ← Voltar para o painel
</a>

<div class="container">


<h1>Login</h1>
<p>Acesse sua conta no AnimeList</p>

<form action="{{ url_for('usuario.login_post') }}" method="POST">

    <label>Email</label>
    <input type="email" name="email" placeholder="seu@email.com" required>

    <label>Senha</label>
    <input type="password" name="senha" placeholder="••••••••" required>

    <button type="submit">Entrar</button>

</form>

<p class="footer-text">
    Não tem conta?
    <a href="{{ url_for('usuario.cadastro_get') }}">Cadastrar</a>
</p>

</div>

</body>
</html>
